<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$comments = $block->getComments($product->getId());
//var_dump($comments);
?>
<div class="test-comment-comment-index">
    <form
            id="form-validate"
            action="<?php echo $block->getUrl('test_comment/comment/save') ?>"
            method="post">
        <?php echo $block->getBlockHtml('formkey') ?>
        <fieldset class="fieldset">
            <div class="field title required">
                <label class="label" for="comment"><span><?php echo __('Comment') ?></span></label>
                <div class="control">
                    <input
                            id="comment"
                            type="text"
                            name="comment"
                            data-validate="{required:true}"
                            value=""
                            placeholder="<?php echo __('Something text...') ?>"/>
                    <input type="hidden" name="product_id" value="<?php echo $product->getId() ?>">
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary">
                    <span><?php echo __('Submit Comment') ?></span>
                </button>
            </div>
        </div>
    </form>

    <script>
        require([
            'jquery',
            'mage/mage'
        ], function ($) {
            var dataForm = $('#form-validate');
            dataForm.mage('validation', {});
        });
    </script>

    <?php if ($comments->count()): ?>
        <ul class="list-comment">
            <?php foreach ($comments as $comment): ?>
                <li class="nav item">
                    <?php echo $comment->getCommentText() ?>
                    <div class="js-comment-reply">
                        <div class="field title required">
                            <label class="label" for="comment"><span><?php echo __('Reply') ?></span></label>
                            <div class="control">
                                <input
                                        type="text"
                                        class="comment"
                                        name="comment"
                                        data-validate="{required:true}"
                                        value=""
                                        placeholder="<?php echo __('Something text...') ?>"/>
                                <input type="hidden"
                                       class="parent_id"
                                       name="parent_id"
                                       value="<?php echo $comment->getCommentId() ?>">
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <button type="button" class="action save primary js-save-reply">
                                    <span><?php echo __('Reply') ?></span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <?php
                    $commentChilds = $block->getCommentByParentId($comment->getCommentId());
                    if ($commentChilds->count()): ?>
                        <ul class="list-comment-child">
                            <?php foreach ($commentChilds as $commentChild): ?>
                                <li class="nav item">
                                    <?php echo $commentChild->getCommentText() ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>

                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
        <script>
            require([
                'jquery'
            ], function ($) {
                $(document).on('click','.js-save-reply',function () {
                    var $container  = $(this).closest('.js-comment-reply');
                    var $li_comment = $(this).closest('li');
                    var $parent_id  = $container.find('.parent_id');
                    var $comment    = $container.find('.comment');
                    var $action = $('#form-validate').attr('action');
                    console.log($action);
                    $.ajax({
                        url: $action,
                        type: "POST",
                        data: {
                            'parent_id':$parent_id.val(),
                            'comment':$comment.val()
                        },
                        success:function(res){
                            $comment.val('');
                        }
                    });

                });
            });

        </script>

    <?php endif; ?>
</div>