<?php
/**
 * Created by PhpStorm.
 * User: macintosh
 * Date: 11/26/18
 * Time: 8:27 PM
 */

$comments = $block->getComments();
?>
<div class="test-comment-comment-index">
    <?php if ($comments->count()): ?>
        <ul class="list-comment">
            <?php foreach ($comments as $comment): ?>
                <li class="nav item">
                    <?php
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($comment->getProductId());
                    ?>
                    Product : <?php echo $product->getName()?><br>
                    <?php echo $comment->getCommentText() ?>
                    <?php
                    $commentChilds = $block->getCommentByParentId($comment->getCommentId());
                    if ($commentChilds->count()): ?>
                        <ul class="list-comment-child">
                            <?php foreach ($commentChilds as $commentChild): ?>
                                <li class="nav item">
                                    <?php echo $commentChild->getCommentText() ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>

                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>

    <?php endif; ?>
</div>